#Compiled binaries and executables
./build/*.o
./build/*.x
./run/*.x
./run/verification/rfm_layer_test/build/*.o
./run/verification/rfm_layer_test/build/*.x
./run/verification/rfm_layer_test/run/*.x

#Output files.
./run/verification/rfm_layer_test/run/*.time_summary
./run/verification/rfm_layer_test/run/RESULTS/*.rfm.out.*
