@test = standard
mols = h2o co2 o3 n2o co ch4 o2 o2
lineshape = voigt
atmos_input_file = singleCol.nc
lines = 500 1200
low_freq = 2
high_freq = 2000
resolution = 6
@endtest



lines = 1234.234 23

@test = standard
#mols = h2o co2 o3 n2o co ch4 o2 o2
mols = h2o
lineshapes = voigt
#lines = all
lines = 1500.0
lowFreq = 1
highFreq = 3000
resolution = 0.1

@test = water_single_line_1
mols = h2o
lineshapes = lorentz
lines = 2000.0
lowFreq = 1990
highFreq = 2010
resolution = 0.01
@endtest
