@test = standard
architecture = gpu
mols = h2o co2 o3 n2o co ch4 o2
lineshape = voigt
atmos_input_file = singleCol.nc
atmos_input_file_type = gfdl
lines = all
low_freq = 1
high_freq = 3000
resolution = 1
@endtest

@test = standard_cpu
architecture = cpu
mols = h2o co2 o3 n2o co ch4 o2
lineshape = voigt
atmos_input_file = singleCol.nc
atmos_input_file_type = gfdl
lines = all
low_freq = 1
high_freq = 3000
resolution = 1
@endtest

@test = standard_cpu_openmp
architecture = cpu_openmp
mols = h2o co2 o3 n2o co ch4 o2
lineshape = voigt
atmos_input_file = smallSubset_2t.nc
atmos_input_file_type = gfdl
lines = all
low_freq = 1
high_freq = 3000
resolution = 1
@endtest

@test = rfmip
architecture = gpu
mols = h2o co2 o3 n2o co ch4 o2
lineshape = voigt
atmos_input_file = multiple_input4MIPs_radiation_RFMIP_UColorado-RFMIP-0-3.0_none.nc
atmos_input_file_type = rfmip
lines = all
low_freq = 1
high_freq = 3000
resolution = 1
@endtest

@test = rfmip_cpu
architecture = cpu
mols = h2o co2 o3 n2o co ch4 o2
lineshape = voigt
atmos_input_file = multiple_input4MIPs_radiation_RFMIP_UColorado-RFMIP-0-3.0_none.nc
atmos_input_file_type = rfmip
lines = all
low_freq = 1
high_freq = 3000
resolution = 1
@endtest

@test = rfmip_cpu_openmp
architecture = cpu_openmp
mols = h2o co2 o3 n2o co ch4 o2
lineshape = voigt
atmos_input_file = multiple_input4MIPs_radiation_RFMIP_UColorado-RFMIP-0-3.0_none.nc
atmos_input_file_type = rfmip
lines = all
low_freq = 1
high_freq = 3000
resolution = 1
@endtest
